<a href="https://colab.research.google.com/github/SIDIBEMoussa/Simple_training/blob/main/LogisticRegression_Seance2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [217]:
import pandas as pd

In [218]:
import seaborn as sns

In [219]:
diabete=pd.read_table("diabete.txt",sep="\t",header=0)

In [220]:
diabete.head()

   pregnant  plasma  diastolic  triceps  ...  age  alea1  alea2   diabete
0         0     138          0        0  ...   25  0.338  0.188  positive
1         4     142         86        0  ...   22  0.835  0.711  positive
2         3     142         80       15  ...   63  0.493  0.845  negative
3         3     113         50       10  ...   25  0.857  0.821  negative
4         5      88         78       30  ...   37  0.045  0.392  negative

[5 rows x 11 columns]

In [221]:
diabete.describe()

         pregnant      plasma   diastolic  ...         age       alea1       alea2
count  568.000000  568.000000  568.000000  ...  568.000000  568.000000  568.000000
mean     3.778169  120.279930   69.274648  ...   33.230634    0.495176    0.507048
std      3.343384   32.341609   18.724643  ...   11.822376    0.285181    0.283315
min      0.000000    0.000000    0.000000  ...   21.000000    0.008000    0.002000
25%      1.000000   99.000000   64.000000  ...   24.000000    0.242750    0.281000
50%      3.000000  115.000000   72.000000  ...   29.000000    0.484500    0.513000
75%      6.000000  140.250000   80.000000  ...   40.000000    0.738750    0.743000
max     15.000000  198.000000  122.000000  ...   81.000000    0.998000    0.999000

[8 rows x 10 columns]

In [222]:
diabete.describe(include="all")

          pregnant      plasma   diastolic  ...       alea1       alea2   diabete
count   568.000000  568.000000  568.000000  ...  568.000000  568.000000       568
unique         NaN         NaN         NaN  ...         NaN         NaN         2
top            NaN         NaN         NaN  ...         NaN         NaN  negative
freq           NaN         NaN         NaN  ...         NaN         NaN       372
mean      3.778169  120.279930   69.274648  ...    0.495176    0.507048       NaN
std       3.343384   32.341609   18.724643  ...    0.285181    0.283315       NaN
min       0.000000    0.000000    0.000000  ...    0.008000    0.002000       NaN
25%       1.000000   99.000000   64.000000  ...    0.242750    0.281000       NaN
50%       3.000000  115.000000   72.000000  ...    0.484500    0.513000       NaN
75%       6.000000  140.250000   80.000000  ...    0.738750    0.743000       NaN
max      15.000000  198.000000  122.000000  ...    0.998000    0.999000       NaN

[11 rows x 11 columns]

In [223]:
diabete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pregnant   568 non-null    int64
 1   plasma     568 non-null    int64
 2   diastolic  568 non-null    int64
 3   triceps    568 non-null    int64
 4   serum      568 non-null    int64
 5   bodymass   568 non-null    float64
 6   pedigree   568 non-null    float64
 7   age        568 non-null    int64
 8   alea1      568 non-null    float64
 9   alea2      568 non-null    float64
 10  diabete    568 non-null    object
dtypes: float64(4), int64(6), object(1)
memory usage: 48.9+ KB

In [224]:
compte_diabete=diabete["diabete"].value_counts()
compte_diabete.index

Index(['negative', 'positive'], dtype='object')

In [225]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split as tts

In [226]:
import timeit
start_time=timeit.default_timer()

In [227]:
Lr=LogisticRegression()

In [228]:
x_train,x_test,y_train,y_test=tts(diabete.iloc[:,:-1],diabete["diabete"])

In [229]:
Lr.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [230]:
y_pred=Lr.predict(x_test)

In [231]:
elapsed=timeit.default_timer()-start_time

In [232]:
from sklearn.metrics import accuracy_score
print("accuracy:{:.2%}, time: {:.2f}".format(accuracy_score(y_test,y_pred),elapsed))

accuracy:76.06%, time: 0.09